body{
    background-color: rgb(245,245,245);
}
.Blog_header{
    display: grid;
    background-color:white;
    grid-template-columns: 60% 10% 10% 10%;
    height: 60px;
    
    
    
    

}
.Blog_header a{
    margin-top: 10%;
    text-decoration: none;
    background-color:white;

    
}
#Blog-header-img{
 height: 40px;
 margin-left: 20%;
 margin-top: 5px;
 background-color:white;

 
}
section{
    display: grid;
    grid-template-columns: 30%  70%;
}





#side-max{
    margin: 5%;
    width: 200px;
    text-align: left;
    padding: 10px;
    font-family:'Open Sans', sans-serif ;
    float: left;
    height: 420px;
    background-color: white;
    

}
.firstpair{
    background-color: white;
    display: grid;
    grid-template-columns: 35% 55%;
    margin:20px;
}
button{
    margin-left: 300px;
    border-radius: 10px;
    
}